@media  (max-width:470px) {

   body{
      overflow:hidden;
   }
    img{
        margin:  20px 50px;
      
    }

    main{
        width: 350px;
        margin-left: 20px;
    }

    .title{
        font-size: 20px;
    }
    input{
        font-size: 16px;
    }
}
